@import '../../styles/settings.scss';

.cardForm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;

}

li {
    min-width: 200px;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size ($base-size * 1.5);
    margin: 0 8px $base-size 8px;
    font-family: $font-text;
    border-radius: $radius;
    list-style-type: none;
}

#text {
    padding: 0 30px;
}

@media (max-width: 767px) {
    .columnForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-align: center;

    }
}